- var title = "Paga un avviso - pagoPA";
- var desc = "Paga un avviso pagoPA con la tua carta di credito o debito, senza alcuna registrazione. Potrai scegliere il gestore della transazione (PSP) a te più conveniente.";
- var url = "https://checkout.pagopa.it";

title=title
meta(name="description" content=desc)
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@https://twitter.com/pagopa")
meta(name="twitter:creator" content="PagoPA S.p.A.")
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=desc)
meta(name="twitter:image" content="https://www.pagopa.gov.it/assets/images/favicons/social-card-twitter.png")
meta(property="og:url" content=url)
meta(property="og:title" content=title)
meta(property="og:description" content=desc)
meta(property="og:type" content="website")
meta(property="og:image" content="https://www.pagopa.gov.it/assets/images/favicons/social-card.png")
meta(property="og:image:secure_url" content="https://www.pagopa.gov.it/assets/images/favicons/social-card.png")
meta(property="og:image:type" content="image/png")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")

meta(charset="utf-8")
meta(http-equiv="content-type" content="text/html; charset=utf-8")
meta(name="author" content="PagoPA S.p.A.")
meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(version=version)